StandardSeriesDemo/.vs/
StandardSeriesDemo/StandardSeriesDemo/obj/
StandardSeriesDemo/StandardSeriesDemo/bin/
Visual Studio .NET/StandardSeriesDemo/.vs/
Visual Studio .NET/StandardSeriesDemo/StandardSeriesDemo/bin/
Visual Studio .NET/StandardSeriesDemo/StandardSeriesDemo/obj/
