StandardSeriesDemo/.vs/
StandardSeriesDemo/StandardSeriesDemo/obj/
StandardSeriesDemo/StandardSeriesDemo/bin/
Visual Studio .NET/StandardSeriesDemo/.vs/
Visual Studio .NET/StandardSeriesDemo/StandardSeriesDemo/bin/
Visual Studio .NET/StandardSeriesDemo/StandardSeriesDemo/obj/
Visual Studio .NET/CSharp/Dragging/.vs/
Visual Studio .NET/CSharp/Dragging/bin/
Visual Studio .NET/CSharp/Dragging/obj/
Visual Studio .NET/VBasic/Adding Series Project/.vs/
Visual Studio .NET/VBasic/Adding Series Project/obj/
Visual Studio .NET/VBasic/Adding Series Project/bin/
